/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(202 255 0);
  animation: glitch 30s infinite alternate; 
}

@keyframes glitch {
    0% {
        background-color: #ff0000; /* Красный */
    }
    10% {
        background-color: #00ff00; /* Зеленый */
    }
    20% {
        background-color: #b1ffff; /* Голубой */
    }
    30% {
        background-color: #ffff00; /* Желтый */
    }
    40% {
        background-color: #ff00ff; /* Фиолетовый */
    }
    50% {
        background-color: #00ffff; /* Бирюзовый */
    }
    60% {
        background-color: #000000; /* Черный */
    }
    70% {
        background-color: #ffffff; /* Белый */
    }
    80% {
        background-color: #ff8000; /* Оранжевый */
    }
    90% {
        background-color: #800080; /* Фиолетовый */
    }
    100% {
        background-color: #ff0000; /* Красный */
    }
}

.filter-toggle {
  background-color: rgb(14, 107, 168); /* Цвет фона */
  color: #ffffff; /* Цвет текста */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор при наведении */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */
}

/* Эффект наведения */
.filter-toggle:hover {
  transform: skewX(-20deg); /* Поворот кнопки на 20 градусов */
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}


header {
  background-color: rgb(0 41 255);
  padding: 20px;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 20px; /* Размер шрифта для элементов меню */
}
a {
    text-decoration: none;
  
}

/* Стили для темной темы */
.dark-theme {
    animation: none;
  background-color: #1f1f1f;
  color: #fff;
}

.dark-theme header {
  background-color: #444;
  color: #fff;
}

.dark-theme footer {
  background-color: #333;
  color: #fff;
}


/* Дополнительные стили для кнопки переключения темы */
#theme-toggle {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #8dcfff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.search-box input {
  width: 100%;
  height: 24px;
  padding-left: 10px;
  border: 2px solid #27bfcd;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.search-box button {
  width: 110px;
  height: 30px;
  border: none;
  background: #27bfcd;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-box button:before {
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

@keyframes rainbow {
  0% { color: #ff0000; } /* Красный */
  20% { color: #ff7f00; } /* Оранжевый */
  40% { color: #ffff00; } /* Желтый */
  60% { color: #00ff00; } /* Зеленый */
  80% { color: #ff60af; } /* Розовый */
  100% { color: #0fe; } /* Фиолетовый */
}

nav ul li.brand a {
  animation: rainbow 5s infinite; /* Продолжительность 5 секунд, бесконечное повторение */
}
nav ul li.brand {
  font-family: 'Impact', sans-serif; /* Шрифт для бренда */
  font-size: 56px; /* Размер шрифта для бренда */
  margin-right: auto; /* Центрирование */
  margin-left: -5px; /* Отступ слева */
    
}

nav ul li.search-box {
  float: right;
}

nav ul li.search-box form {
  display: flex;
}

nav ul li.search-box input[type="text"] {
  margin-right: -6px;
}

nav ul li a {
	padding: 5px;
	background: black;
	border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

filter {
    padding-left: 40px;
    padding-top: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 10%;
    
}

.weather {
padding: 10px;
margin: auto;
    
}

.section {
  margin-bottom: 40px;
}

.printer {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 10px 9px 12px rgba(0, 0, 0, 0.8);
}

.news {
    width: auto;
    height: auto;
}

.printer img {
  width: 70%;
  height: 70%;
  object-fit: cover; 
}

.printer {
  background-color: rgb(14, 107, 168);
  color: #fff;
    text-decoration: none;
  
}

.registration {
    float: right;
    margin-right: 20px; /* Регулируйте отступ справа по вашему усмотрению */
    margin-top: 20px; /* Регулируйте отступ сверху по вашему усмотрению */
}


.social-icons img{
        width: 100px;
        height: 100px;
        margin-right: 60px
    }

footer {
  background-color: rgb(0 128 255);
  padding: 20px;
  text-align: center;
}

}

/* Стили для всплывающего окна с фильтрами */
.filter-dropdown {
  position: absolute;
  display: none;
  top: 70px;
  right: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
/* Стили для модального окна */
.modal {
  display: none; /* По умолчанию скрыто */
  position: fixed; /* Фиксированное положение */
  z-index: 1000; /* Поверх других элементов */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69); /* Полупрозрачный цвет фона */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Расположение по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.filter-dropdown h2 {
  margin-top: 0;
}

.filter-dropdown label {
  display: block;
}

.filter-dropdown button {
  margin-top: 10px;
}


/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

.modal-content {
	width:50%;
	
	
}

    .registration {
    width: 149px;
    float: none;
    margin: 0px;
}
    
    #content {
width: 400px;
}
    
    .container { margin: 25px auto; position: relative; width: 100%; }
    
    .social-icons img{
        width: 50px;
        height: 50px;
        
    }
    
  nav ul li {
    display: block;
    margin-bottom: 5px;
  }

  nav ul li.search-box {
    float: none;
  }

  nav ul li.brand a {
    max-width: 40%;
}  
  
  nav ul li a {
    display: block;
    padding: 5px;
  }

  main {
    padding: 0px;
      column-gap: 60%;
  }
  footer {
        text-align: center;
    }
  .printer {
    width: 300%;
  }
}